/* CSS Rules for edit information page */

.contentContainer {
  position: relative;
}
.textEditorContainer {
  box-sizing: content-box;
  position: relative; /* Change to relative */

  left: 50%;
  transform: translateX(-50%); /* Only translate horizontally */
  width: 60%;
  max-height: 80vh; /* Adjust the max height as needed */
  margin-bottom: 2rem;
}
.textEditorContainer > h1 {
  font-size: 24px;
  margin-bottom: 1rem;
  color: #009688;
}
